:host{
    display: block;
    position: relative;
    overflow: auto;
    --style-scrollbar-thumb: rgba(0,0,0,0);
    --style-scrollbar: rgba(0,0,0,0);

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background:var(--style-scrollbar);
    }   

    &::-webkit-scrollbar-thumb {
        background: var(--style-scrollbar-thumb);
    }

    &::-webkit-scrollbar-button {
        height: 0;
        background: rgba(0,0,0,0);
    }


}