:host{
  font-size: inherit;
  font-weight: normal;
  color: #000000;
  display: block;
    mat-icon{
      display: block;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      height: auto;
      width: auto;
    }
}


