:host{
    display: block;
    position: relative;
    width: 100%;
    form{
        height: 100%;
        width: 100%;
        display: inherit;
        flex: inherit;
        flex-direction: inherit;
        flex-wrap: inherit;
        justify-content: inherit;
        align-items: inherit;

        &.disabled{
            opacity: 0.5;
            pointer-events: none;
        }
    }
}
